<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
    <title>symposia</title>
</head>

<body>
    <nav>
        <div class="ui inverted menu">
            <a class="item yellow" href="/">
                chronicle
            </a>
            <a class="item yellow">
                symposia
            </a>
            <a class="item yellow">
                Friends
            </a>
            <div class="right menu">
                <% if (user) { %>
                    <a  class="ui item yellow" href="/logout"><i></i>Log Out</a>
                <% } else { %>
                    <a class="ui item yellow" href="/auth/google"><i></i>Login with Google</a>
                <% } %>
            </div>
        </div>
    </nav>
    <main>