<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <title>symposia</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="amber">
          <div class="nav-wrapper">
            <a href="" class="brand-logo left"><i class="material-icons">strikethrough_s</i>ymposia</a>
            <ul class="right">
              <ul>
                <% if (user) { %>
                  <li> <a href="/symposia/new" class="">new symposia</a></li>             
                  <li> <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a></li> 
                <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
                </ul>
            </ul>
          </div>
        </nav>
      </div>
<main>