<%- include('../partials/header') %>

<div class="container center">

<div class="row">
    <div class="col s12 m6">
      <div class="card-panel amber">
        <div class="card-content white-text">
          <p>Symposia is all about talking and discoursing and chatting</p>
        </div>
        <div class="card-action">
          <a href="/auth/google">LOGIN WITH GOOGLE</a>
        </div>
      </div>
    </div>
</div>

</div>
 
<%- include('../partials/footer') %>