<%- include('../partials/header') %>

<div class="container">
    <h1 class="text-align center"><%= symposium.name %></h1>
    <table class="centered highlight responsive-table">
        <tbody>

        </tbody>
    </table>      
</div>

<%- include('../partials/footer') %>